<div class="container">
  <mat-card>
    <mat-card-title>Bienvenido!</mat-card-title>
    <mat-card-subtitle  *ngIf="data != null">
      <p>{{ data.nombres }} {{ data.apellidoP }} {{ data.apellidoM }}</p>
    </mat-card-subtitle>
    <mat-card-subtitle  *ngIf="data == null">
      <p>Por favor inicie sesión para continuar...</p>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <app-proj-tarjet *ngFor="let page of pages"
      [color]="page.color"
      [img]="page.img"
      [url]="page.url"
      [title]="page.title">
      </app-proj-tarjet>
    </mat-card-content>
  </mat-card>
</div>
