<mat-card>
  <mat-card-title>Agregar Sistema</mat-card-title>
  <mat-card-subtitle>Permite registrar nuevos proyectos para poder configurar sus accesos y permisos.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="col-12 col-sm-5">
        <input matInput h="txtNombre" placeholder="Nombre:" />
      </mat-form-field>
      <app-file-picker class="col-12 col-sm-7" text="Imagen:" accept=".jpg, .jpeg, .png, .bmp, .gif" [(value)]="files">
      </app-file-picker>
      <mat-form-field class="col-12">
        <textarea matInput h="txtDescripc" placeholder="Descripción:"></textarea>
      </mat-form-field>
      <mat-form-field class="col-12 col-sm-12 col-md-4">
        <input matInput h="txtUrl" type="text" placeholder="URL:" (focusout)="checkUrl()">
      </mat-form-field>
      <mat-form-field class="col-12 col-sm-6 col-md-4">
        <input matInput h="txtDb" type="text" placeholder="DataBase:">
      </mat-form-field>
      <div class="fa-wrapper col-12 col-sm-6 col-md-4">
        <mat-form-field>
          <input type="text" h="txtIcon" matInput placeholder="Ícono:" />
        </mat-form-field>
        <a mat-raised-button color="accent" target="_blank" href="https://fontawesome.com/icons?d=gallery&m=free">
          <i class="fas fa-icons"></i>
        </a>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="row right">
    <button h="btnSave" mat-raised-button color="primary" class="col-12 col-sm-4 col-md-3 col-lg-2">
      <i class="fas fa-save"></i>
      <span>Guardar</span>
    </button>
  </mat-card-actions>
</mat-card>
