/* MENU */
mat-toolbar {
  height: 4rem;

  .brand {
    color: #000;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    i {
      margin-right: 0.75rem;
    }

    span {
      font-size: 25px;
      padding-top: 0.25rem;
    }
  }

  .middle {
    flex: 1;
    height: 100%;
  }
}

mat-sidenav-container {
  height: calc(100% - 4rem);

  mat-sidenav {
    width: 40vw;
    min-width: 320px;
    max-width: 480px;

    mat-list {
      padding: 0;

      .visible {
        display: none;
      }

      .mat-list-item {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        padding: 0;

        // Iconos
        i {
          width: 3rem;
          text-align: center;
        }

        span {
          width: calc(100% - 5.5rem);
          margin: 0!important;
        }

        button {
          box-sizing: border-box;
          width: 2.5rem!important;
        }
      }
      .mat-list-item {
        transition-duration: 250ms;
        color: #000;
        background: initial;
      }

      .mat-list-item:hover {
        transition-duration: 250ms;
        color: #000;
        background: #d5d5d5;
      }

      .mat-list-item.active {
        transition-duration: 250ms;
        color: #000;
        background: #e5e5e5;
      }
    }
  }

  mat-sidenav-content {
    width: 100vw;
  }
}
