<mat-toolbar color="primary">
  <a routerLink="" class="brand" (click)="navOpened = false">
    <i class="fas fa-biohazard fa-2x"></i>
    <span>SYS UMS</span>
  </a>
  <div class="middle">

  </div>
  <div class="right">
    <button id="btnToggle" mat-button (click)="navToggle()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="navOpened">
    <mat-list>
      <a mat-button routerLink="login" routerLinkActive="active" (click)="navToggle()" *ngIf="!isLogged">
        <i class="fas fa-sign-in-alt"></i>
        <span>Iniciar Sesión</span>
      </a>

      <button mat-button routerLinkActive="active" (click)="onLogout()" *ngIf="isLogged">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar Sesión</span>
      </button>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- Plantilla para Nodos Finales -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="navToggle()">
          <a mat-button routerLinkActive="active" routerLink="{{ node.url }}">
            <i class="{{ node.icono }}"></i>
            <span>{{ node.nombre }}</span>
          </a>
        </mat-tree-node>

        <!-- Plantilla para Nodos con hijos -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <button mat-button matTreeNodeToggle>
            <i class="{{ node.icono }}"></i>
            <span>{{ node.nombre }}</span>
            <button mat-icon-button>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
          </button>
          <div [class.visible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
