<mat-toolbar>
  <a routerLink="" class="brand" (click)="navOpened = false">
    <i class="fas fa-biohazard fa-2x"></i>
    <span>SYS UMS</span>
  </a>
  <div class="middle">

  </div>
  <div class="right">
    <button id="btnToggle" mat-flat-button color="primary" (click)="navToggle()">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="navOpened">
    <mat-list>
      <a mat-list-item routerLink="login" routerLinkActive="active" (click)="navToggle()">
        <i class="fas fa-sign-in-alt"></i>
        <span>Iniciar Sesión</span>
      </a>
      <a mat-list-item routerLink="setup" routerLinkActive="active" (click)="navToggle()">
        <i class="fas fa-cog"></i>
        <span>Configuración</span>
      </a>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
