<div class="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Configuración Inicial</mat-card-title>
      <mat-card-subtitle>Seleccione un usuario para asignarlo como usuario "system".</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombres">
          <mat-header-cell *matHeaderCellDef>Nombres</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.nombres }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoP">
          <mat-header-cell *matHeaderCellDef>Apellido P</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.apellidoP }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="area">
          <mat-header-cell *matHeaderCellDef>Área</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.area.descripc }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cargo">
          <mat-header-cell *matHeaderCellDef>Cargo</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.cargo.descripc }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoM">
          <mat-header-cell *matHeaderCellDef>Apellido M</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.apellidoM }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="create">
          <mat-header-cell *matHeaderCellDef>Asignar</mat-header-cell>
          <mat-cell justify="end" *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="createUser(row)">
                <i class="fas fa-plus"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableCols"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableCols"></mat-row>
      </mat-table>

      <mat-grid-list cols="2" rows="1" rowHeight="72px">
        <mat-grid-tile [colspan]="1">
          <mat-form-field>
            <input matInput placeholder="Búsqueda" (keyup)="applyFilter($event)" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-paginator [pageSizeOptions]="[10, 10, 20]"></mat-paginator>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
